.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
app/src/main/res/drawable-mdpi/
*.jpg
*.png
*.jpeg
app/src/main/res/drawable-hdpi/button_background.xml
app/src/main/res/drawable-hdpi/info_button.xml
